.button {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 18px;
  user-select: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  cursor: pointer;
}

.cc-button {
  width: var(--size);
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 1px 2px 6px #ccc;
  overflow: hidden;
  border-radius: var(--round);
  position: relative;
  display: flex;
  justify-content: center;

  .icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
  }

  &-default {
    @extend .button;
    background: #fff;
    color: #7f8c8d;
    &:hover {
      background: #fff;
      color: #7f8c8d;
      box-shadow: 1px 2px 6px #7f8c8d;
    }
  }

  &-success {
    @extend .button;
    background: #2ecc71;
    &:hover {
      background: #f6f6f6;
      color: #2ecc71;
      box-shadow: 1px 2px 6px #2ecc71;
    }
  }
  &-error {
    @extend .button;
    background: #e74c3c;
    &:hover {
      background: #f6f6f6;
      color: #e74c3c;
      box-shadow: 1px 2px 6px #e74c3c;
    }
  }
  &-warn {
    @extend .button;
    background: #f39c12;
    &:hover {
      background: #f6f6f6;
      color: #f39c12;
      box-shadow: 1px 2px 6px #f39c12;
    }
  }
  &-isLoading {
    @extend .button;
    background: rgba(225, 225, 225, 0.4);
    opacity: 0.95;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 2px 6px #ccc;
    }
  }
  &-isCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &-isDisabled {
    color: #ccc !important;
    background: rgba(#bdc3c7, 0.4);
    &:hover {
      cursor: not-allowed;
      box-shadow: none !important;
    }
  }
}
