.button {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  box-sizing: border-box;
  font-size: var(--theme-size-md);
  letter-spacing: 2px;
  user-select: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--theme-color-all);
  cursor: pointer;
}

.cc-button {
  width: var(--size);
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 1px 2px 6px #ccc;
  overflow: hidden;
  border-radius: var(--round);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
  }

  &-default {
    @extend .button;
    background: var(--theme-bg-default);
    color: var(--theme-color-default);
    &:hover {
      background: #fff;
      color: var(--theme-color-default);
      box-shadow: 1px 2px 6px var(--theme-color-default);
    }
  }

  &-success {
    @extend .button;
    background: var(--theme-bg-success);
    &:hover {
      background: #f6f6f6;
      color: var(--theme-bg-success);
      box-shadow: 1px 2px 6px var(--theme-bg-success);
    }
  }
  &-error {
    @extend .button;
    background: var(--theme-bg-error);
    &:hover {
      background: #f6f6f6;
      color: var(--theme-bg-error);
      box-shadow: 1px 2px 6px var(--theme-bg-error);
    }
  }
  &-warn {
    @extend .button;
    background: var(--theme-bg-warn);
    &:hover {
      background: #f6f6f6;
      color: var(--theme-bg-warn);
      box-shadow: 1px 2px 6px var(--theme-bg-warn);
    }
  }
  &-isLoading {
    @extend .button;
    background: rgba(225, 225, 225, 0.4);
    opacity: 0.95;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 2px 6px #ccc;
    }
  }
  &-isCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &-isDisabled {
    color: var(--theme-color-all);
    background: var(--theme-bg-disabled);
    box-shadow: none;
    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      color: var(--theme-color-all);
      background: var(--theme-bg-disabled);
    }
  }
}
