@import './../style/var.scss';

.button {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 18px;
  user-select: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $-theme-color-all;
  cursor: pointer;
}

.cc-button {
  width: var(--size);
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 1px 2px 6px #ccc;
  overflow: hidden;
  border-radius: var(--round);
  position: relative;
  display: flex;
  justify-content: center;

  .icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
  }

  &-default {
    @extend .button;
    background: $-theme-bg-default;
    color: $-theme-color-default;
    &:hover {
      background: #fff;
      color: $-theme-color-default;
      box-shadow: 1px 2px 6px $-theme-color-default;
    }
  }

  &-success {
    @extend .button;
    background: $-theme-bg-success;
    &:hover {
      background: #f6f6f6;
      color: $-theme-bg-success;
      box-shadow: 1px 2px 6px $-theme-bg-success;
    }
  }
  &-error {
    @extend .button;
    background: $-theme-bg-error;
    &:hover {
      background: #f6f6f6;
      color: $-theme-bg-error;
      box-shadow: 1px 2px 6px $-theme-bg-error;
    }
  }
  &-warn {
    @extend .button;
    background: $-theme-bg-warn;
    &:hover {
      background: #f6f6f6;
      color: $-theme-bg-warn;
      box-shadow: 1px 2px 6px $-theme-bg-warn;
    }
  }
  &-isLoading {
    @extend .button;
    background: rgba(225, 225, 225, 0.4);
    opacity: 0.95;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 2px 6px #ccc;
    }
  }
  &-isCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &-isDisabled {
    color: #ccc;
    background: $-theme-bg-disabled;
    box-shadow: none;
    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      color: #ccc;
      background: $-theme-bg-disabled;
    }
  }
}
