unit_test/*
.vscode/*
build/*
www/*
tests/*
public/*
src/*
node_modules/*

dist/*
docs/*
examples/*
scripts/*
_config.yml
.babelrc
.eslintec.js
.gitignore
babel.config.js
jest.config.js
package.json
tsconfig.json
yarn-error.log
.gitattributes
tsconfig.json
tslint.json
webpack.config.js
yarn.lock