.cc-toast {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  background: var(--toast-bg);
  color: #fff;
  font-size: var(--theme-size-md);
  border-radius: 5px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  position: absolute;
  right: 15px;
  bottom: 30px;
  animation: down 1s linear;
  z-index: 999;
}

@keyframes down {
  from {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
