.textStyle {
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: .95px;
}

.cc-popup {
  &::after {
    content: '';
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
  }
  &-box {
    width: 500px;
    max-height: max-content;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 1px 2px 6px #ccc;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    @extend .textStyle;
  }
  img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .content {
    @extend .textStyle;
    width: 100%;
    word-wrap:break-word; 
    word-break:break-all;
    height: max-content;
    font-size: 18px;
    color: rgb(158, 148, 148);
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .btns {
    display: flex;
    justify-content: flex-end;

    .close {
      background: #fff;
      color: #000;
    }
  }
}
