.loadbackline{
  width: 100px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  background: var(--theme-bg-success);
  -webkit-animation: changeBgColor 1.04s ease-in infinite alternate;
}
.loadbackline span{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: lightgreen;
  position: absolute;
  margin-top: -7px;
  margin-left:-8px;
  -webkit-animation: changePosition 1.04s ease-in infinite alternate;
}
@-webkit-keyframes changeBgColor{
  0%{
      background: lightgreen;
  }
  100%{
      background: lightblue;
  }
}
@-webkit-keyframes changePosition{
  0%{
      background: lightgreen;
  }
  100%{
      margin-left: 92px;
      background: lightblue;
  }
}