.cc-input {
  width: max-content;
  height: 45px;
  display: flex;
  align-items: center;
  border: 1px solid hsl(204, 8%, 76%);
  .left-icon {
    width: 20px;
    height: 20px;
  }
  .title {
    font-size: 18px;
    letter-spacing: 0.38px;
    color: #1e90ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  input {
    height: 100%;
    display: flex;
    flex: 1;
    padding: 0 10px;
    color: #1e90ff;
    font-size: 20px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    &::placeholder {
      font-size: 14px;
    }
  }
  .right-icon {
    width: 20px;
    height: 20px;

    &:active {
      box-shadow: 1px 2px 6px #7bed9f;
    }
  }
}

.disabled {
  &:hover {
    cursor: not-allowed;
  }
}
