.cc-skeleton {
  .box {
    position: relative;
    width: max-content;
    height: max-content;
    &:before {
      content: '';
      width: 8px;
      height: calc(var(--bingW) * 1.5);
      height: 150px;
      transform: rotate(45deg);
      background: #fff;
      position: absolute;
      top: -25%;
      left: 0;
      animation: bing 1s infinite linear;
    }
  }
}

@keyframes bing {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
