.cc-stepitem {
  .icon {
    width: 24px;
    height: 24px;
    position: relative;
  }
  .simple {
    @extend .icon;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
  }
  .title {
    font-size: 18px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  .description {
    font-size: 14px;
    color: #95a5a6;
    width: 100px;
    position: absolute;
    top: 60px;
  }
}
