.cc-tips {
  width: max-content;
  color: var(--color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  background: none;

  &:hover {
    cursor: pointer;
    transition: all .3s linear;
    box-shadow: none;
    transition: all 1s linear;
  }

  .hover-tips {
    position: absolute;
    width: max-content;
    padding: 2px 10px;
    top: calc(-5px - 100%);
    left: calc(100% - 50px);
    transition: all .3s linear;
    background: rgba(#ccc, 0.4);
    color: #7f8c8d;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: 1px 2px 6px #ecf0f1;
    opacity: var(--opacity);
    transition: all 1s linear;
    &:before{
      content:" ";
      border-left: 0px solid transparent;
      border-top:10px solid transparent;
      border-right:10px solid transparent;
      border-bottom:10px solid #ccc;
      transform: rotate(-45deg);
      opacity: 0.4;
      position: absolute;
      left: 0;
      top: 15px;
    }
  }
}
