$-theme-bg-default: #fff;
$-theme-bg-success: #2ecc71;
$-theme-bg-error: #e74c3c;
$-theme-bg-warn: #f39c12;
$-theme-bg-disabled: rgba(#bdc3c7, 0.4);

$-theme-color-default: #7f8c8d;
$-theme-color-all: #fff;
