:root {
  --theme-bg-default: #fff;
  --theme-bg-success: #2ecc71;
  --theme-bg-error: #e74c3c;
  --theme-bg-warn: #f39c12;
  --theme-bg-info: #3498db;
  --theme-bg-disabled: #d2d6da;

  --theme-color-default: #7f8c8d;
  --theme-color-all: #fff;

  --theme-size-xs: 14px;
  --theme-size-sm: 16px;
  --theme-size-md: 18px;
  --theme-size-lg: 20px;
}
