.cc-option {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  &:hover {
    background: rgba(#bdc3c7, 0.3);
    color: #000;
    opacity: 1;
  }

  &-disabled {
    color: #bdc3c7;
    background: rgba(#bdc3c7, 0.3);
    cursor: not-allowed;
    &:hover {
      color: #bdc3c7;
    }
  }
}
