.cc-switch {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  &::before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: var(--left);
    right: var(--right);
    top: 50%;
    transform: translateY(-50%);
  }
 &-medium {
   width: 70px;
   height: 30px;
   border-radius: 30px;
   background: var(--bg);
 }
 &-mini {
  @extend .cc-switch-medium;
  width: 50px;
 }
 &-small {
  @extend .cc-switch-medium;
  width: 60px;
 }
 &-large {
  @extend .cc-switch-medium;
  width: 80px;
 }
 &-disabled {
   background: #7f8c8d;
   &:hover {
     cursor: not-allowed;
   }
 }
}
