.loadLine{
  width: 80px;
  margin: 0 auto;
  box-sizing: border-box;
}
.loadLine span{
  display: inline-block;
  width: 8px;
  height: max-content;
  border-radius: 4px;
  background: var(--theme-bg-success);
  -webkit-animation: load-Line 1s ease infinite;
  box-sizing: border-box;
}
@-webkit-keyframes load-Line {
  0%,100%{
      height: 5px;
      background: lightgreen;
  }
  50%{
      height: 20px;
      margin: -5px 0;
      background: lightblue;
  }
}
.loadLine span:nth-child(2){
  -webkit-animation-delay:0.2s;
}
.loadLine span:nth-child(3){
  -webkit-animation-delay:0.4s;
}
.loadLine span:nth-child(4){
  -webkit-animation-delay:0.6s;
}
.loadLine span:nth-child(5){
  -webkit-animation-delay:0.8s;
}
