.cc-pagination {
  width: max-content;
  padding: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  .total {
    font-size: 14px;
    color: #ccc;
    margin: 0 10px;
  }
  .jumper {
    display: flex;
    align-items: center
    span {
      display: block;
      font-size: 18px;
      margin: 0 5px;
      color: rgb(34, 32, 32);
    }
    input {
      width: 30px;
      height: 25px;
      border: 1px solid #2980b9;
      border-radius: 3px;
      outline: none;
      margin: 0 5px;
      text-align: center;
    }
  }
  .background {
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 25px;
  }
  .is_end {
    cursor: not-allowed;
    color: #ccc;
    &:hover {
      color: #ccc;
    }
  }
  .change_pager {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    &:hover {
      color: #3498db;
    }
  }
  .pagers {
    padding: 0 10px;
    display: flex;
    .pager {
      display: block;
      margin: 0 10px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: #3498db;
      }
    }
    .currentPager {
      color: #3498db;
    }
    .currentBg {
      background: rgba(#2980b9, 0.3);
      color: #fff;
    }
  }
}
