.cc-card {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px #ccc;
  border-radius: 6px;
  border: 1px solid #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  background: var(--theme-bg-default);

  &:hover {
    background: #f1f4f7;
    color: #70a1ff;
  }

  &:active {
    background: #7bed9f;
    color: #fff;
  }

  &-hover {
    box-shadow: none;
    &:hover {
      background: #f1f4f7;
      color: #70a1ff;
      box-shadow: 1px 2px 6px #ccc;
    }
  }

  &-never {
    box-shadow: none;
    &:hover {
      background: none;
      color: #000;
    }
  }

  img {
    width: 50px;
    height: 50px;
  }
  span {
    display: block;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px 3px #ccc;
    letter-spacing: .8px;
  }
}