.cc-date_picker {
  position: relative;
  margin: 5px;
  .date_box {
    display: flex;
    width: max-content;
    padding: 8px;
    padding-right: 80px;
    align-items: center;
    box-sizing: border-box;
    border: 1.5px solid #f1f2f6;
    transition: 1s;
    cursor: pointer;

    &:hover {
      border-color: #a4b0be;
      transition: 1s;
    }
    .date_icon {
      width: 15px;
      height: 15px;
    }
    .tips {
      font-size: 14px;
      margin-left: 10px;
      color: #dfe4ea;
    }
  }
  .picker_box {
    width: 350px;
    height: 400px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 6px #ccc;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: var(--top);
    animation: transform .1s ease-in-out;

    .top {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;

      span {
        margin: 0 5px;
        font-size: 20px;
        cursor: pointer;
        color: #1e90ff;
      }

      .date {
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        padding: 0 10px;
        cursor: default;
        color:#2f3542;
      }
    }

    .days {
      font-size: 16px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: flex;
      justify-content: space-around;
      padding: 5px 0;
      border-bottom: 1px solid #ccc;
    }

    .btns {
      height: max-content;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #ccc;

      span {
        font-size: 16px;
        color: #1e90ff;
        cursor: pointer;
      }
    }

    .content {
      height: 260px;
    }

    &:before {
      content:'';
      width: 0;
      height: 0;
      position: absolute;
      bottom: var(--beforeBottom);
      left: 20px;
      border: 10px solid #ccc;
      border-color: var(--borderColor);
    }
  }
}

@keyframes transform {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
