.cc-tabs {
  display: flex;
  width: max-content;
  padding: 10px;
  justify-content: space-around;
  .active {
    transition: all 1s ease;
    &:after {
      content: '';
      width: 40px;
      height: 2px;
      background: #3498db;
      border-radius: 3px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-box {
    display: flex;
    margin: 0 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
}
